.timeline{
    position: relative;
    margin-left: 60px;
}

.timeline-item{
    display: flex;
    align-items: flex-start;
    gap: 35px;
}

.timeline-icon{
    position: relative;

    width:90px;
    height:90px;

    border-radius:50%;
    overflow:hidden;

    border:4px solid #ffb300;

    flex-shrink:0;

    box-shadow:0 0 15px rgba(255,179,0,.5);
}

.timeline-icon img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* เส้นใต้รูป */
.timeline-icon::after{

    content:"";

    position:absolute;

    left:50%;
    transform:translateX(-50%);

    top:100%;

    width:4px;
    height:120px;

    background:#ffb300;

    border-radius:20px;
}
